<ng-sidebar [options]="sidebarModel">
  <div ng-sidebar-banner>test</div>
</ng-sidebar>

<button (click)="change()">change</button>

<div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed blanditiis,
  impedit provident nostrum non porro repellat, vel mollitia soluta placeat
  alias fuga quaerat corporis ipsam facilis itaque. Voluptates obcaecati
  voluptatibus aperiam harum iste repellendus ullam esse, sapiente aliquid ab
  adipisci libero doloribus dicta commodi ea incidunt culpa laboriosam
  temporibus exercitationem doloremque odit modi quibusdam suscipit hic. Sed,
  rerum. Eius quas ex quasi eligendi nulla soluta labore earum odit corporis,
  nisi quibusdam velit perferendis sit repellendus fugit voluptatum inventore
  necessitatibus. Magni nisi eligendi culpa accusantium, eveniet pariatur
  distinctio neque fuga tenetur? Quos, cumque? Reiciendis unde quos explicabo,
  eveniet accusamus nobis non.
</div>
<ul>
  <li>1</li>
  <li>41</li>
  <li>12</li>
  <li>1</li>
  <li>13</li>
</ul>
<div>
  <button>tıkla</button>
  <button>tıkla</button><button>tıkla</button><button>tıkla</button
  ><button>tıkla</button><button>tıkla</button><button>tıkla</button
  ><button>tıkla</button><button>tıkla</button><button>tıkla</button
  ><button>tıkla</button>
</div>
