$bg-color: #121212;
$text-color: #ffffffde;
$search-bg-color: #333333;
$search-color: #F6F8FA;
$primary: #1b84ff;
$primary-2: #3b94ff;
$primary-3: #5c9be4;
$secondary: #3a3a3a;
$secondary-2: #444444;
$secondary-3: #555555;
$radius: 6px;
